{{- if and .Values.admin .Values.bfl.username (eq .Values.admin .Values.bfl.username) }}
{{- $ollamaclientDomainENV := split "," .Values.domain.ollamaclient -}}
{{- $ollamaclientDomain := index $ollamaclientDomainENV "_0" -}}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    io.kompose.service: ollama
  name: ollama
  namespace: "{{ .Release.Namespace }}"
  annotations:
    applications.app.bytetrade.io/gpu-inject: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: ollama
  strategy:
    type: Recreate
  template:
    metadata:
      creationTimestamp: null
      labels:
        io.kompose.network/chrome-default: "true"
        io.kompose.service: ollama
    spec:
      containers:
        - name: ollama
          image: "docker.io/beclab/ollama-ollama:0.17.5"
{{- with .Values.olaresEnv }}
{{- if and .KEEP_ALIVE (eq (lower (toString .KEEP_ALIVE)) "true") }}
          command:
            - sh
            - '-c'
            - |
              echo "Starting Ollama server..."
              ollama serve &
              SERVER_PID=$!
              until ollama list > /dev/null 2>&1; do
                sleep 1
              done
              echo "Ollama server is ready. Preloading model..."
              START_TIME=$(date +%s)
              ollama run ${MODEL_NAME} "Hello"
              END_TIME=$(date +%s)
              ELAPSED=$((END_TIME - START_TIME))
              echo "Model preloading completed in ${ELAPSED} seconds"
              wait $SERVER_PID
{{- end }}
{{- end }}
          envFrom:
            - configMapRef:
                name: ollama-env
          env:
            - name: OLLAMA_NOPRUNE 
              value: "1"
{{- with .Values.olaresEnv }}
{{- if and .KEEP_ALIVE (eq (lower (toString .KEEP_ALIVE)) "true") }}
            - name: OLLAMA_KEEP_ALIVE
              value: "-1"
{{- end }}
{{- end }}
          ports:
            - containerPort: 11434
          livenessProbe:
            httpGet:
              path: /
              port: 11434
              scheme: HTTP
            initialDelaySeconds: 30
            timeoutSeconds: 60
            periodSeconds: 60
            successThreshold: 1
            failureThreshold: 10
          startupProbe:
            tcpSocket:
              port: 11434
            timeoutSeconds: 5
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 30
          resources:
            limits:
              cpu: "4"
              memory: 38Gi
            requests:
              cpu: 50m
              memory: 4Gi
          volumeMounts:
            - mountPath: "/root/.ollama"
              name: data
      volumes:
        - name: data
          hostPath:
            path: "{{ .Values.userspace.userData }}/Ollama/{{ .Release.Name }}"
            type: DirectoryOrCreate
      restartPolicy: Always
status: {}
---
apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    io.kompose.service: api
  name: ollama
  namespace: "{{ .Release.Namespace }}"
spec:
  ports:
    - name: "ollama"
      port: 11434
      targetPort: 11434
  selector:
    io.kompose.service: ollama
status:
  loadBalancer: {}
---
apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    io.kompose.service: ollama
  name: sharedentrances-api
  namespace: "{{ .Release.Namespace }}"
spec:
  ports:
    - name: "api"
      port: 80
      targetPort: 11434
  selector:
    io.kompose.service: ollama
status:
  loadBalancer: {}
{{- end }}
